.DS_Store

build/
*.userdb/

*.bin
*.ocd
*.log
*.bak

installation.yaml
user.yaml
trash/
*.custom.yaml1
# *.custom.yaml  # 已取消忽略，需要提交到 git

sync/**
!sync/**/
!sync/**/*.userdb.txt
!sync/**/user.custom.dict.txt
